.container {
  margin: 20px;
}

.title {
  font-size: 45px;
  margin-top: 15px;
  text-align: center;
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */
  background-color: #f0f0f0; /* Choose your preferred background color */
}

.secondTitle {
  text-align: left;
  display: block;
  font-size: 28px;
  margin: 0px 0px 0px 600px; /* Adjust margin as needed */
  color: #663366;
  padding: 10px 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: 'YourChosenFont', sans-serif;
}

.searchContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000000;
  font-size: 16px;
  font-family: 'YourChosenFont', sans-serif;
}

.searchButton {
  background-color: #663366;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  word-break: break-word; /* Ensure long words are wrapped */
}

.tableHeader {
  background-color: #f2f2f2;
  font-family: 'YourChosenFont', sans-serif;
  font-size: 20px;
  color: #663366;
  width: 33.33%; /* Equal width for each column */
}

.tableContent {
  background-color: #f2f2f2;
  font-family: 'YourChosenFont', sans-serif;
  font-size: 18px;
  color: #0a090a;
  width: 33.33%; /* Equal width for each column */
}
