/* Footer styling */
.footer {
    padding: 15px; /* Adjust padding as needed */
    text-align: center;
  }
  
  .footer a {
    display: inline;
    color: #663366; /* Deep purple text color */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */

  }
  /* Text styling within the footer */
  .footer h4 {
    text-align: left;
    display: block;
    margin: 0px 160px 0px 220px; /* Adjust margin as needed */
    color: #663366; /* Deep purple text color */
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */


  }

  .footer h3 {
    text-align: left;
    display: inline;
    margin: 0px 170px 0px 170px; /* Adjust margin as needed */
    color: #663366;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'YourChosenFont', sans-serif;

  }

  .footer h3.additional-tag {
    text-align: left;
    display: block;
    margin: 0px 0px 0px 220px; /* Adjust margin as needed */
    color: #663366;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'YourChosenFont', sans-serif;
  }

  .footer h2 {
    text-align: left;
    display: block;
    margin: 0px 160px 0px 210px; /* Adjust margin as needed */
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */
  
  }

.footer h1 {
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */

}


.footer div {
  margin: 0px 260px 00px 0px; /*top */
}
.input {
  width: 30%; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  margin: 0px 20px 10px 10px; /* Adjust margin as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */

}

.button:disabled {
  background-color: grey;
  cursor: not-allowed;
}


.side-input {
  width: 30%; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 5px 0px 0px 230px; /* Adjust margin as needed (added margin-right) */
  float: left;
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */
}

.wide-input {
  width: 30%; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 5px 0px 0px 230px; /* Adjust margin as needed (added margin-right) */
  float: left;
  height: 150px; /* Set the height of the text box */
  vertical-align: top; /* Align text to the top */
  
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */
}

.file-input {
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */
  float: left;
  margin: 15px 10px 10px 230px; /* Adjust margin as needed (added margin-right) */

}

.input:focus {
  border: 3px solid #555; /* Border color on focus */
}

.select {
  width: 30%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 0px -450px;
  background-color: #f1f1f1;
  font-family: 'YourChosenFont', sans-serif; /* Apply the custom font */

}


.checkmark {
  display: inline-block;
  width: 16px; /* Adjust the size as needed */
  height: 16px; /* Adjust the size as needed */
  border: 2px solid #bd1a74; 
  border-radius: 3px; /* Rounded corners */
  margin-left: -620px; /* Adjust spacing from the input */
  cursor: pointer; /* Set cursor to pointer for clickable appearance */
}

.checkmark::before {
  content: '\2713'; /* Unicode character for a checkmark */
  display: block;
  color: #bd1a74; 
  text-align: center;
  line-height: 16px; /* Adjust line height for vertical alignment */
  font-size: 12px; /* Adjust font size as needed */
  visibility: hidden; /* Initially hidden */
}

.checked::before {
  visibility: visible; /* Display when checked */
}

/* Add this to your existing styles in RequestForm.module.css */

/* Add this to your existing styles in RequestForm.module.css */

/* Add this to your existing styles in RequestForm.module.css */

.button-container {
  text-align: center; /* Center align the button */
  margin-top: 20px; /* Add margin to center the button vertically */
}

.button {
  background-color: #663366;
  color: #ffffff;
  padding: 10px 20px;
  margin: 30px 0px 0px -290px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #bd1a74;
}

.lessonNameInput {
  margin-right: 900px; /* Adjust the value as needed */
}



.selectContainer {
  margin-left: 200px;
}


